<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="player">
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/av.svg">
      </ion-avatar>
      <ion-label>
        <h1>{{player.nickname}}</h1>
        <p>{{date}}</p>
      </ion-label>
    </ion-item>
    <ion-list-header mode="md">
      Общая информация
    </ion-list-header>
    <ion-item>
      <ion-item>
        <ion-label>Пройденные мили</ion-label>
        <ion-note slot="end" color="primary">{{player.statistics.distance}}</ion-note>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-item>
        <ion-label>Победы</ion-label>
        <ion-note slot="end" color="primary">{{player.statistics.pvp.wins}}</ion-note>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-item>
        <ion-label>Общее число боев</ion-label>
        <ion-note slot="end" color="primary">{{player.statistics.pvp.battles}}</ion-note>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
