<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Кланы
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Search clans" (ionChange)="searchClans($event)">
  </ion-searchbar>
  <div *ngIf="!isSearching">
    <ion-list>
      <ion-item
        *ngFor="let clan of clans"
        button
        (click)="applySearch(clan.clan_id)"
      >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>
          <h2>
            <b>[{{ clan.tag }}]</b>
            {{ clan.name }}
          </h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="isSearching">
    <ion-list>
      <ion-item *ngFor="let p of range(15)">
        <ion-label>
          <h2>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
