ion-content {
    --ion-background-color: #111D2C;
    --ion-text-color: #BFF2FF;
}
ion-header {
    --ion-text-color: #BFF2FF;
    --ion-toolbar-background: #0E2E44;
}
ion-searchbar {
    --background: #0E2E44;
    --color: #BFF2FF;
}